.admin-nav {
    display: flex;
    align-items: center;
    height: 40px;
    width: 100vw;
    background-color: rgba(255, 200, 100, 0.85);
    margin-bottom: 10px;
}

.admin-nav-links {
    font-size: 20px;
    font-weight: 700;
    color: orange;
    text-decoration: none;
    padding: 5px;
    margin: 0 20px;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.3);
}

.list-item {
    width: 100%;
    padding: 10px 0 10px 20px;
    font-size: 20px;
    background-color: rgba(255, 180, 50, 0.2);

    transition: .2s all ease;
}

.list-item:hover {
    cursor: pointer;
    background-color: rgba(255, 180, 50, 0.3);
}

.admin-modal {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: none;
    background: rgba(0, 0, 0, 0.5);
} 

.admin-modal-content {
    padding: 25px;
    background: white;
    border-radius: 12px;
    min-width: 300px;
}

.admin-modal.active {
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
