.text-input {
    min-width: 300px;
    font-size: 22px;
    padding: 3px;
    margin: 10px;
    background-color: rgba(255, 200, 100, 0.45);
}

.text-input:-webkit-autofill {
    box-shadow: inset 0 0 0 20px rgba(255, 200, 100, 0.7) !important;
}