.order-form, .order-options-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.order-form label {
    font-size: 20px;
}

.order-name, .order-email, .order-city, .order-date, .order-time {
    min-width: 300px;
    font-size: 22px;
    padding: 3px;
    margin: 10px;
    background-color: rgba(255, 200, 100, 0.45);
}

.order-name:-webkit-autofill,
.order-email:-webkit-autofill {
    box-shadow: inset 0 0 0 20px rgba(255, 200, 100, 0.7) !important;
}

.clock-size-select {
    display: flex;
    justify-content: center;
    min-width: 300px;
    margin: 10px 4px 10px 30px;
}

.clocksize-radio {
    display: flex;
    align-items: center;
	margin: 5px;
}

.clocksize-radio input[type=radio] {
	display: none;
}

.clocksize-radio label {
	cursor: pointer;
	position: relative;
	padding-left: 20px;
	margin-right: 15px;
	line-height: 18px;
	user-select: none;
}

.clocksize-radio label:before {
	content: "";
	width: 10px;
	height: 10px;
	position: absolute;
	left: 0;
	bottom: 2px;
    border-radius: 50%;
    border: solid 2px rgba(255, 200, 100, 0.45);
	background-color: none;
    transition: .2s all ease;
}

.clocksize-radio input[type=radio]:checked + label:before {
    background-color: rgba(255, 200, 100, 0.45);
}

.clocksize-radio label:hover:before {
	filter: brightness(110%);
}

.order-repairer {
    padding: 8px;
    margin-bottom: 10px;
    border-radius: 16px 0 16px 0;
    min-width: 300px;
    font-size: 24px;
    transition: .2s all ease;
}

.order-repairer:hover {
    cursor: pointer;
    background-color: rgba(255, 200, 100, 0.45);
}

.order-repairer.active {
    background-color: rgb(255, 200, 100);
}


